# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs and editors
.vscode/
.idea/
*.iml

# Compiled byte code
*.pyc

# Environments
.env/
venv/
env/
